
header {
  display:grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.header__menu {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size:18px;
  padding-top:128px ;
  padding-bottom: 138px;
  display:flex;
  gap: 31px;
}

.header__links-list-item {
  padding-top:10px;
  list-style: circle;
}

.header_underline {
  border-bottom: 1px solid #000; 
  display: inline-block;
}

.header_menu_circle {
  display: flex;
  gap:34px;
  list-style:circle;
}

.logo {
  display: block;
}

.logo_image {
  max-width:136px;
  width: 148px;
  height: 114px;
}

.header__address {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size:18px;
  font-style: normal;
  list-style-type: none;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 200px;
  justify-self: end;
  word-wrap: break-word;
  margin-right:39px;
}

.telephone {
  margin-bottom: 5px; 
}

.gmail {
  margin-top: -2px; 
}

.address_line {
  width:230px;
  line-height:25px;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 1);
  opacity: 60%;
  width: 100%;
  top: 0;
  left: 0;
  height:757px;
}

.cover {
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 1100px 757px;
  margin-bottom: 180px;
  padding: 165px 50px 61px 50px;
  position: relative;
}

.cover_title {
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 114,9%;
  letter-spacing: 30%;
  text-transform: uppercase;
  position: relative;
  color: #FFFFFF;
  z-index:3;
}

.aligned-text {
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-top:21px;
  padding-left:29px;
}

.aligned-text_right {
  text-align: right;
  padding-top:20px;
  padding-left:614px;
}

.description {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  letter-spacing: 0%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 109px;
  margin-top: 106px;
  color: #fff;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 90%;
  word-spacing: 18px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

 .bet-button {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
} 

.title_lots {
  font-size: 40px;
  font-weight: bold;
  padding-left: 64px;
  margin-top:-11px;
  padding-bottom: 26px;
}

.card_lots {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 24px;
  padding-right: 24px;
  gap: 25px;
  list-style: none;
}

.content_lots_regisur {
  width: 334px;
  min-height: 596px;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}

.content_lots_book {
  width: 334px;
  min-height: 596px;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}

.content_lots_cartina {
  width: 334px;
  min-height: 596px;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}

article {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #FFFFFF;
  offset: 0%;
  text-decoration-thickness: 0%;
  line-height: 120%;
  width: 300px;
  height: 82px;
  padding-left: 40px;
  padding-top: 48px;
}

 .lots_underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.text-lots {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  padding-left: 40px;
  color: #FFFFFF;
  padding-bottom: 48px;
}

.overlay_lots {
  position: absolute;
  background: rgba(0, 0, 0, 1);
  opacity: 60%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text_book {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  color: #fff;
  width: 294px;
  height: 360px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
  z-index: 2;
}

.text_regisur {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  color: #fff;
  width: 295px;
  height: 144px;
  padding-top: 309px;
  padding-bottom: 48px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 78px;
  margin-top: 85px;
  z-index: 2;
}

.text_cartins {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  width: 297px;
  height: 264px;
  padding-top: 200px;
  padding-bottom: 48px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 78px;
  margin-top: 125px;
  color: #fff;
  z-index: 2;
}

.after_lots {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  padding-left: 63px;
  padding-top: 32px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  font-family: Raleway, sans-serif;
  margin: 0 auto;
  display: grid; 
  grid-template-columns: 310px 1fr; 
  grid-template-rows: auto auto; 
  gap: 72px; 
  align-items: start;
}

.about_header {
  display: contents; 
}

.about_logo_circle {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1; 
  grid-row: 1; 
  margin-left: 71px;
  margin-top: 155px;
}

.logo_image_about {
 transform: scale(0.6);
}

.about_title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
  margin-top: 257px;
}

.about_text {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  grid-column: 2; 
  grid-row: 2; 
  margin-top: -63px;
  width: 688px;
}

.about_text p {
  margin-bottom: 24px;
}

footer {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 158px;
}

.footer_address {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: start;
  max-width: 350px;
  word-wrap: break-word;
  gap:2px;
}

.address-line {
  line-height: 1;
  margin: 0;
}

.footer_menu {
  font-family: Raleway, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.footer_menu_underline {
  border-bottom: 1px solid;
}

.footer_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
  gap:48px;
}

.social {
  width: 48px;
  height: 48px;
}

