.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.header__link,
.footer_link {
  border-bottom: 1px solid;
}

.header__link_active,
.footer_link_active {
  text-decoration: none;
  border-bottom: none;
}

.header__menu {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 128px;
  padding-bottom: 138px;
  display: flex;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__menu-list li:first-child {
  list-style: none;
}

.logo {
  display: block;
}

.logo_image {
  max-width: 136px;
  width: 148px;
  height: 114px;
  margin-left: 5px;
}

.address {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  word-wrap: break-word;
  margin-right: 39px;
}

.header__address {
  justify-self: end;
  margin-right: 10px;
  padding-bottom: 10px;
}
.address_link {
  border-bottom: 1px solid;
}

.address_line {
  width: 230px;
  line-height: 24.3px;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 1);
  opacity: 60%;
  inset: 0;
}

.cover {
  width: 1100px;
  max-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  margin-bottom: 180px;
  padding: 165px 50px 61px 50px;
  background-size: cover;
  position: relative;
}

.cover_title {
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.149;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
}

.aligned-text {
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-top: 21px;
  padding-left: 29px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 20px;
  padding-left: 614px;
}

.description {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 109px;
  margin-top: 106px;
  color: #fff;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.9em;
  word-spacing: 18px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.bet-button {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.title_lots {
  font-size: 40px;
  font-weight: bold;
  padding-left: 64px;
  margin-bottom: 3px;
  padding-bottom: 26px;
}

.card_lots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 24px;
  padding-right: 24px;
  gap: 25px;
  list-style: none;
}

.film {
  background-image: url(../images/card-lot-01.jpg);
}

.cartina {
  background-image: url(../images/card-lot-03.jpg);
}

.book {
  background-image: url(../images/card-lot-02.jpg);
}

.content_lots {
  width: 334px;
  min-height: 596px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.title_underline {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffffff;
  text-underline-offset: 2px;
  text-decoration-thickness: 0%;
  line-height: 120%;
  padding-left: 40px;
  padding-top: 48px;
  max-width: 295px;
  z-index: 2;
}

.text-lots {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding-left: 40px;
  margin-top: auto;
  margin-bottom: 50px;
  max-width: 295px;
  z-index: 2;
}

.after_lots {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  padding-left: 63px;
  padding-top: 32px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  font-family: Raleway, sans-serif;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 310px 1fr;
  grid-template-rows: auto;
  gap: 0;
  align-items: start;
  max-width: 1200px;
}

.about_logo_circle {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  margin-left: 71px;
  margin-top: 155px;
}

.logo_image_about {
  transform: scale(0.6);
}

.about_title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
  margin-top: 257px;
  margin-left: 74px;
}

.about_text {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  grid-column: 2;
  grid-row: 1;
  margin-top: 402px;
  margin-left: 74px;
  width: 688px;
}

.about_text p {
  margin-bottom: 24px;
}

.footer {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding-left: 51px;
  padding-right: 50px;
  margin-top: 158px;
  padding-bottom: 82px;
}

.footer__address {
  padding-bottom: 43px;
}

.address_line_footer {
  width: 260px;
  line-height: 25px;
}

.footer_menu {
  font-family: Raleway, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding-left: 4px;
}

.footer_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.social {
  width: 48px;
  height: 48px;
}
